@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Raleway:wght@300&display=swap');
p, h2{
    font-family: 'Mukta', sans-serif;
}
button#night{
    border: 0px;
    border-radius: 20px;
    align-self: flex-end;
    width: 100%;
    color: white;
    background-color: black;
}
