@import url(loginT.html);
   @import url('https://fonts.googleapis.com/css2?family=Junge&family=Literata:wght@200&family=Rambla:wght@700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Junge&family=Knewave&family=Literata:wght@200&family=Rambla:wght@700&display=swap');

   body{
       font-family: Arial, Helvetica, sans-serif;
       background-image: url(guitar.jpg);
   }
   div#principal{
       width: 50%;
       background-color: #ffffff81;
   }
    img{
        width: 400px; height: 250px; padding-left: 10%;
    }
    button{
        width: 100%;
    }
    p#entre{
        color: #000000;
    }
    @media screen and (max-width: 855px) {
        body{
            font-family: Arial, Helvetica, sans-serif;
            
            background-color: black;
        }
        div#principal{
            width: 100%;
            background-color: black;
            border: 1px black solid;
            
        }
         img{
             width: 350px; height: 220px; margin: auto;
         }
         p#entre{
             color: #fff;
         }
    }
    